.dostavka {
  width: 100%;
  background: #d9c4bf;
}

.dostavka-container {
  width: 1120px;
  max-width: calc(100% - 40px);

  margin: 0 auto;
  padding: 80px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 70px;
}

.dostavka-text {
  max-width: 550px;
}

.dostavka-text h1 {
  margin: 0 0 30px;

  font-size: 44px;
  line-height: 1.15;
  font-weight: 700;
  color: #000;
}

.dostavka-text h2 {
  margin: 30px 0 15px;

  font-size: 24px;
  color: #000;
}

.dostavka-text p {
  margin: 0 0 18px;

  font-size: 17px;
  line-height: 1.7;
  color: #000;
}

.dostavka-text ul {
  margin: 0 0 25px;
  padding-left: 22px;
}

.dostavka-text li {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.dostavka-text li::marker {
  color:000;
}

.dostavka-image {
  display: flex;
  justify-content: flex-end;
}

.dostavka-image img {
  width: 500px;
  height: 450px;
  object-fit: cover;
}

