.header {
  width: 100%;
  background: #cfd4d7;;
  border-bottom: 1px solid;
}

.header-inner {
  width: 1120px;
  max-width: calc(100% - 40px);
  min-height: 125px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header-left {
  width: 30%;
}

.header-left p {
  margin: 4px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.header-center img {
  width: 190px;
  height: auto;
  object-fit: contain;
}

.header-phone {
  width: 30%;
  text-align: right;

  font-size: 21px;
  font-weight: 700;
  color: #000;

  white-space: nowrap;
}

.header-phone:hover {
  color: #8a5a2b;
}

